<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"><img src="img/Tinder_(app)-Logo.wine.png" style="width: 400px;text-align: center"></div>
            <form method="post" enctype="multipart/form-data" action="/add">
                <h2 class="text-center"><strong>Tinder | Create</strong> an account.</h2>
                <div class="form-group"><input type="file" name="avatars" /></div>
                <div class="form-group"><input class="form-control" type="email" name="emails" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="text" name="usernames" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" type="password" name="passwords" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
                <div class="form-group">
                   </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="width: 100px;margin-left:110px;margin-bottom: 10px;"><a href="login" style=" text-decoration: none;color: white;">Sign Up</a></button></div></form>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>