<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="text-danger login-clean">
        <form method="post">
            <h2 class="sr-only">Tinder | Login</h2><img src="img/Tinder_(app)-Logo.wine.png" style="width: 200px;">
            <div class="illustration"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="width: 100px;margin-left:75px;margin-bottom: 10px;"><a href="chinh.handlebars" style=" text-decoration: none;color: white;">Login</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
